<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urban Paws</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="\js\alertify.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="\css\search.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="\css\alertify.min.css">
  
</head>
<body>
  <!--Navbar section--> 
   
  <%- include('header') %>

  <!--Image section--> 
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        
       
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog1.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Puppy care tips for new pet parents</h2>
          <p class="text-base leading-relaxed mt-2">What can be more exciting than being a parent to a super awwdorable puppy?! However, keep in mind that pet parenting has its own pros and cons. They might love going to the park for a walk, but parenting them is no walk in the park. </p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog3.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog2.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Street Dogs</h2>
          <p class="text-base leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog6.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog3.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">The Canine Behaviour</h2>
          <p class="text-base leading-relaxed mt-2">One of the leading dog trainers – Certified Professional Dog Trainer (CPDT-KA), Ketan Panchal shares some special insights on canine behaviour training.</p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog7.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <% if (b>0) {%>
  <h1 class="abc">"Best Seller"</h1>
  <section class="text-gray-600 body-font">
    
          
          
         
  
          
      
      
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <% for (const user of a) { %>
          
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden" href="/product.ejs">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="\images\<%=user.image%>">
          </a>

          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1"><%= user.category %></h3>
            <form action="/bestproduct.ejs" method="post">
            <input name="item" value="<%= user.name %>" class="text-gray-900 title-font text-lg font-medium" type="text" readonly>
            <p class="mt-1">Rs <%= user.price %></p>
            
            <button
                    type="submit"
                    name="submit"
                    class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                  >
                    View Product
                  </button>
            
          </div>
        </div>
      </form>
        <% } %>
      </div>
    </div>
  
  </section>
  <% } else {%>
            
    <h1 class="abc">"The Accessories section is empty !"</h1>
    
    <%  } %>
  <script>
    alertify.set('notifier','position', 'top-right');
                      alertify.success(response.status);
  </script>

  
 
      <%- include('footer') %>
</body>
</html>